#wrapper { 
  margin: 0px auto; 
  width: 800px; 
  background-color: #eeeeee; 
  padding: 20px; 
  overflow: auto; 
  // necessary for "clearing" the floats 
  // contained within 
} 
 
img { 
    padding: 20px; 
    width: 320px; 
    margin: 10px; 
    float: left; 
} 
 
h1 { 
    font-family: Verdana, Geneva, sans-serif; 
    margin-left: 22px; 
} 
    html {
      font-family: Georgia, Times, serif;
      font-size: 22px;
      line-height: 32px;
}
    a {
      color: orange;
}
    a:hover {
      color: red;
}
    p {
        background-color: #dddddd;
        padding: 20px;
        width: 320px;
        margin: 10px;
        float: left;
}
    .project {
    background-color: #dddddd;
    padding: 20px;
    margin: 20px;
    width: 320px;
    float: left;
}
